{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-0">
    <section class="section-1 d-flex align-items-end justify-content-center text-center" data-aos="fade-up">
        <div>
            <h1 class="display-4 text-white">Develop by Judviii</h1>
            <p class="lead text-white">With mental support provided by Screw4ik</p>
            <p class="lead text-white">for Orest "Stormrage" Didora</p>
            <p class="lead text-white">with love and honor</p>
        </div>
    </section>
    <section class="section-2 no-overlay d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">Тебе хоче привітати:</h1>
            <p class="lead text-white">Ростислав "Screw4ik" Катамаран</p>
            <div class="rotating-videos">
                <video autoplay muted loop class="rotate" preload="auto">
                    <source src="{% static 'video/rostuk.webm' %}" type="video/webm" >
                    Your browser does not support the video tag.
                </video>
                <img src="{% static 'gifs/csgo-deagle.gif' %}" width="250" height="250">
                <video autoplay muted loop class="rotate" preload="auto">
                    <source src="{% static 'video/rostuk.webm' %}" type="video/webm" >
                    Your browser does not support the video tag.
                </video>
            </div>
            <p class="lead text-white">Асоціюється з фразою "Та йоб тваю мать Катаран"</p>
            <p class="lead text-white">і ван тапами з дігла</p>
            <!-- <p class="lead text-white">P.S. Дякую Росюк за хелпу з гіфками і відео для анімації</p> -->
        </div>
    </section>
    <section class="section-3 no-overlay d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">Тебе хоче привітати:</h1>
            <p class="lead text-white">Вадим "Judviii" Триноженко</p>
            <div class="rotating-images">
                <img src="{% static 'img/vadym.png' %}" alt="Image 1" class="rotate-1">
                <img src="{% static 'gifs/csgo-fail.gif' %}" width="250" height="250">
                <img src="{% static 'img/vadym.png' %}" alt="Image 2" class="rotate-1">
            </div>
            <p class="lead text-white">Асоціюється з фразою "Бабій хоч колись мене почує?"</p>
            <p class="lead text-white">лютим аїмом в стінку, та відсутності гангів в мід</p>
            <p class="lead text-white">P.S. Ключі в Dayz віддав</p>
        </div>
    </section>
    <section class="section-4 d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">І саме тому ми підготували для тебе вітання</h1>
        </div>
    </section>
    <section class="section-5 d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">Щастя тобі, здоров'я, всіх благ і миру в голові і душі</h1>
            <p class="lead text-white">Грошей щоб було багато, любові і тому подібного...</p>
            <p class="lead text-white">Але є одне але...</p>
            <p class="lead text-white">З красномовністю в нас трохи погано тому...</p>
            <p class="lead text-white">Ми вирішили попросити наших гарних знайомих зробити це за нас</p>
        </div>
    </section>
    <section class="section-video no-overlay d-flex align-items-center justify-content-center text-center" data-aos="fade-up">
        <video autoplay muted loop class="video-bg" id="birthday-video" preload="auto">
            <source src="{% static 'video/vitaemo2.mp4' %}" type="video/mp4" >
            Your browser does not support the video tag.
        </video>
    </section>
    <section class="section-6  no-overlay d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">Щоб penis стояв і гроші були йоптить</h1>
            <p class="lead text-white">👉👈</p>
        </div>
    </section>
    <section class="section-7 no-overlay d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="display-4 text-white">👉З Д тебе 🤡👈</h1>
            <img src="{% static 'gifs/sasuke-meme.gif' %}" width="100" height="100">
        </div>
    </section>
    <section class="section-8 no-overlay d-flex align-items-center justify-content-center text-center">
        <div>
            <p class="lead text-white">А тепер найди тут Анну де Армас</p>
        </div>
    </section>
</div>
{% endblock %}
